.App {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.header-box {
  display: flex;
}

.header-box img {
  width: 100px;
  height: auto;

  order: 1;
}

.header-box .Card h5 {
  order: 2;
}

.header-box .Card p {
  order: 3;
}

.header-box .ItemsList, .header-box .Card {
  width: 50%;
}

.header-box .Card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search {
  display: flex;
  flex-direction: column;
}

.search-box {
  display: flex;
  width: 90%;
}

.Search img {
  width: 10%;
}

.Search button {
  width: 10%;
}

.Search input {
  width: 70%;
}

.cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-box .Card {
  width: 45%;
}

.NavMenu a {
  margin-left: 5px;
}